{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        {% endblock %}
        
    </head>
  
    <body>
       
            
       
            <!-- Content block -->
            
        {% block content %}
            <div>
                <h3 id="int"> Entertainment News</h3>
                <ul>
                        {{macro.displaySourcesList(entertainment)}}
                </ul>
            </div>
               
            <div>
                <!-- business news --> 
              <h3 id="bus"> Business News </h3>
                <ul>
                        {{macro.displaySourcesList(business)}}
                </ul>
            </div>

            <div>
            <!-- Sport News -->
            <h3 id="spo">Sport News</h3><br>
                <ul>
                    {{macro.displaySourcesList(sports)}}
                </ul>
            </div>

        {% endblock%}
      
      
    </body>
</html>
